<h2><span data-i18n="skills.my_skills">About</span></h2>

<div>
  &emsp;&emsp;&emsp;Hi, I am Venu Vardhan Reddy, a second-year engineering student. I am doing my engineering in the Department of Computer Science and Engineering, Amrita University. Born and brought up in Hyderabad, Telangana, India. I can code well. Obsessed with a black/green terminal. I like ambitious and passionate people. Food is the love of my life. I usually sleep after 2 am. I prefer text/email over a phone call.
  <br><br>&emsp;&emsp;&emsp;I am looking for an internship opportunity between May-July, 2018. Anything that involves application of my skills and offers me a great learning opportunity.
</div>
