<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <p style="font-family: 'Alegreya', serif; text-transform: uppercase; color:white"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
      </h2>
      <p class="lead">{{ site.tagline }}<br></p>
      <p class="funkyline" style="color: white; font-size: 18px">{{ site.funkyline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{%
              endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            <!-- {{ node.url | remove_first:'/'}} -->
          {% endif %}
        {% endif %}
      {% endfor %}

      <p>List Posts by
      <a class="list-sidebar-nav-item{% if page.url == "/archive/" %} active{% endif %}" href="{{ site.baseurl }}/archive/">Archive</a>,
      <a class="list-sidebar-nav-item{% if page.url == "/tags/" %} active{% endif %}" href="{{ site.baseurl }}/tags/">Tags</a>,
      <a class="list-sidebar-nav-item{% if page.url == "/categories/" %} active{% endif %}" href="{{ site.baseurl }}/categories/">Categories</a>.
    </p>
    </nav>

    <span class="sidebar-nav-item">Hosted <a href="https://www.github.com/vchrombie/blog/"><i class="fa fa-code" style="color:white"></i></a> with <i class="fa fa-heart" style="color:red"></i> on <a href="https://www.github.com/"><i class="fa fa-github"></i></a></span>
    <p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}"/>Venu Vardhan Reddy</a>.<br>All rights reserved.</p>

    <div>
      <a href="https://dev.to/vchrombie">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Venu Vardhan Reddy Tekula's DEV Profile" height="30" width="30" />
      </a>
    </div>

  </div>
</div>
